

body { 
background-image: url(images/F01.JPG);
margin-left: 5%; margin-right: 5%; 
font-family: Verdana, sans-serif;
color: #4B0082;
font-size: 12px; 
}

select			{ font-family: Arial, Helvetica, sans-serif; font-size:11px; border:1px solid black; }



input			{ font-family: Arial, Helvetica, sans-serif; font-size:11px; border:1px solid black; }



textarea		{ font-family: Arial, Helvetica, sans-serif; font-size:11px; border:1px solid black; }



TABLE.xxx  {
	border-width=0;
	border-style: solid;
	border-color: red;
	margin-left: auto;
	margin-right: auto;
	
	padding: 10;
	
	font-family: sans-serif;
	background-color: #77ffff;
}


TABLE.zzz  {
	border-width=0;
	border-style: solid;
	border-color: red;
	margin-left: auto;
	margin-right: auto;
	
	padding: 10;
	
	font-family: sans-serif;
	background-color: #ffffff;
}


TABLE.totest  {
	border-width=0;
	border-style: solid;
	border-color: red;
	margin-left: auto;
	margin-right: auto;
	
	padding: 10;
	
	font-family: sans-serif;
	background-color: #aacfff;
}

TD.xxx {

	
	padding: 20;
	
	
	}


TABLE.report  {
	border-width=3;
	border-style: solid;
	border-color: grey;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	


TABLE.cal  {
	
	border-width=3;
	border-style: solid;
	border-color: grey;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	
	}
	
	td.cal_current {
	
		vertical-align: middle;
		padding: 1;
		border-width=1;
		border-style: solid;
		
		background-color: #ffffff;
	
		
	}
	
	td.cal{
		vertical-align: middle;
		padding: 3;
		border-style: solid;
		
		background-color: #ffffff;
		}
TABLE.bbb {
	
}

TABLE.ccc {
	border-style: none;
	padding: 0%;
	border-width=0;
}


TABLE.menu  {
	
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	padding: 0%;
	
	font-family: sans-serif;
	
	
}
 
textarea.dsp
	{
	color: darkblue;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	background-color: #ffdddd;
	}


TABLE.aaa  {
	border-style: none;
	font-family: sans-serif;
	background-color: #F0F8FF;
}

TABLE.login  {
	border-width=2;
	border-style: solid;
	border-color: "darkgray";
	margin-left: auto;
	margin-right: auto;
	
	padding: 5%;
	
	font-family: sans-serif;
	background-color: #ffdddd;
}


		  
TD {
	vertical-align: top;
	border-style: none;
	color: #000003;
	
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	background-color: #F0F8FF;
}

TD.prod {
	vertical-align: top;
	
	color: #000003;
	
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	background-color: #FFCCFF;
}
 
 
div.color {
	
    background: rgb(255,0,0);
    padding: 0.5em;
    border: none;
    font-size:14px; 
  }




  p.changed {
      padding-left: 0.2em;
      border-left: solid;
      border-right: none;
      border-top: none;
      border-bottom: none;
      border-left-width: thin;
      border-color: red;
    }

  

th { padding: 3; font-family: sans-serif; background: rgb(111, 000, 111); color:white; FONT-SIZE: 12px;}

  h1 { margin-left: -8%;}
  h2,h4,h5,h6 {margin-left: -4%; }
  h3{FONT-SIZE: 15px; margin-left: -4%; }
 
A			{ font-family: Arial, Helvetica, sans-serif; COLOR: #003366; FONT-SIZE: 12px; font-weight:bold; TEXT-DECORATION: none }
A:link			{ font-family: Arial, Helvetica, sans-serif; COLOR: #003366; FONT-SIZE: 12px; font-weight:bold; TEXT-DECORATION: none }
A:visited		{ font-family: Arial, Helvetica, sans-serif; COLOR: #003366; FONT-SIZE: 12px; font-weight:bold; TEXT-DECORATION: none }
A:hover 		{ font-family: Arial, Helvetica, sans-serif; COLOR: #336666; FONT-SIZE: 12px; font-weight:bold; TEXT-DECORATION: underline }


A.menu				{ font-family: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10px; font-weight:bold; TEXT-DECORATION: none }
A.menu:link			{ font-family: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10px; font-weight:bold; TEXT-DECORATION: none }
A.menu:visited		{ font-family: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10px; font-weight:bold; TEXT-DECORATION: none }
A.menu:hover 		{ font-family: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10px; font-weight:bold; TEXT-DECORATION: underline }

